
body {
  background: #fcfcfa;
}

th,td {
  min-width: 105px;
}

.stroke {
  fill: none;
  stroke: #000;
  stroke-width: 3px;
}

.fill {
  fill: #fff;
}

.graticule {
  fill: none;
  stroke: #222;
  stroke-width: .5px;
  stroke-opacity: .5;
}

.saskatoonFOV,
.princegeorgeFOV,
.rankinFOV,
.clydeFOV,
.inuvikFOV,
.blackstoneFOV,
.forthayseastFOV,
.forthayswestFOV,
.kapuskasingFOV,
.goosebayFOV,
.christmasvalleyeastFOV,
.christmasvalleywestFOV {
  fill: none;
  stroke: black;
  stroke-width: .5px;
  stroke-opacity: .5;
}

.saskatoon,
.princegeorge,
.rankin,
.clyde,
.inuvik,
.blackstone,
.forthayseast,
.forthayswest,
.kapuskasing,
.goosebay,
.christmasvalleyeast,
.christmasvalleywest  {
  fill: none;
  fill-opacity:1;
}

.land {
  fill: #777;
  fill-opacity:0.5;
}

.boundary {
  fill: none;
  stroke: #000;
  stroke-width: .5px;
}

.text-align{
  text-align: center;
}

.sas-th-color{
  color:green;
}

.rkn-th-color{
  color:blue;
}

.pgr-th-color{
  color:red;
}

.cly-th-color{
  color:purple;
}

.inv-th-color{
  color:orange;
}

.bks-th-color{
  color:cyan;
}

.fhe-th-color{
  color:brown;
}

.fhw-th-color{
  color:midnightblue;
}

.kap-th-color{
  color:coral;
}

.gbr-th-color{
  color:chartreuse;
}

.cve-th-color{
  color:palegreen;
}

.cvw-th-color{
  color:firebrick;
}

.table-style{
  width:100%;
}

.options-style{
  float:right;
  height:175px;
  width:50%;
}

.description-style{
  float:left;
  height:60px;
  width:45%;
  font-size:16px;
}

.radio-div-style{
  float:left;
  height:50px;
  width:50%;
}

.radio-form-style{
  bottom:0px;
}

.colorgrad-div-style{
  float:left;
  height:75px;
  width:50%
}

.colorgrad-style{
  height:50px;
  width:462px;
  margin: 0 auto;
}

.globe-style{
  float:left;
  width:100%;
  padding:0;
}
